*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

button {
  outline: none;
  border-style: none;
  text-align: center;
  cursor: pointer;
  padding: 0;
  background: transparent;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #333333;
}
/* Блок 1. Баннер статический */
/* banner */
.banner {
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 400px;
}
.banner__inner {
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 350px;
}

.banner-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.banner__top-logo {
  width: 237px;
  height: 36px;
}

.banner__top-img {
  width: 82px;
  height: 90px;
}

h1 {
  font-family: "Montserrat-ExtraBold", sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: #fff;
}

h2 {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
  max-width: 670px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/* Блок 2. Text */
.top {
  padding: 50px 0;
  background: linear-gradient(360deg, #fff -14%, #ffbee1 100%);
}

.top__text,
.final__inner,
.info__inner {
  width: 55%;
  margin: 0 auto;
}

.top__text p {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.top__text-title {
  font-size: 18px;
}

.top__text-expert a {
  color: #c22251;
}

/* info */
.info {
  padding-bottom: 50px;
  background: linear-gradient(180deg, #fff 75%, #ffbee1 100%);
}

.info__title {
  color: #000;
}

.info__inner {
  width: 60%;
}

.info__text {
  margin: 20px 0;
}

.info__list {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.info__list li {
  padding-left: 40px;
  margin: 10px 0;
  position: relative;
}

.info__list li span {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 600;
}

.info__text-item {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

/* Блок 4. Подарки */
/* present */
.present {
  padding: 50px 0 100px;
  background: linear-gradient(180deg, #fff 29%, #ffbee1 100%);
  position: relative;
}

/* .prsent-box {
  background: linear-gradient(360deg, #fff 68%, #ffbee1 90%);
} */

/* .present__inner {
  text-align: center;
  margin-bottom: 50px;
} */

.tabs {
  width: 225px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff0f8;
  /* height: 54px; */
  border-radius: 24px;
}

.tabs span {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 35px;
  width: 100%;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.tabs span:hover {
  color: #c22251;
}

.tabs .tab.active:hover {
  color: #fff;
}

.tab.active {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #c22251;
  height: 35px;
  border-radius: 37px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.tab-item {
  display: none;
}

.tab-item.active-tab {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.tab__content {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.tab-item img {
  position: relative;
  max-width: 230px;
  width: 100%;
  /* height: 409px; */
}

img.mfp-img {
  /* max-width: 1220px !important;
  width: 100% !important;
  height: auto !important; */
  max-height: 800px !important;
}

/* final */
.final {
  background: linear-gradient(360deg, #fff 0%, #ffbee1 70%);
  margin-bottom: 100px;
}

.final__inner {
  text-align: center;
}

.final__inner p + p {
  margin-top: 15px;
}
